.header {
  padding-top: 18px;
  padding-bottom: 18px;

  position: static;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.headerMainPage {
  position: absolute;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.logoWrapper {
  position: relative;
  flex-shrink: 0;
}

.logoAndTheme {
  display: flex;
  align-items: center;
  gap: 12px; /* відступ між логотипом та ThemeToggle */
  flex-shrink: 0;
}
.themeToggleWrapper {
  margin-left: 152px;
}

.navWrapper {
  flex: 1;
  min-width: 0;
  display: flex;
  justify-content: flex-end;
  /* margin-left: auto; */
}

.controls {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .themeToggleWrapper {
    margin-left: 186px;
  }
}

@media screen and (min-width: 1440px) {
  .controls {
    margin-left: auto;
  }
}
