.storyDetails {
  padding-top: 32px;
  padding-bottom: 32px;
}

.title {
  color: var(--color-text-primary);
  font-family: var(--font-sora), sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 32px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.wrapperButton {
  display: flex;
  flex-direction: column;
}

.text {
  color: var(--color-text-primary);
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.addText {
  font-weight: 400;
}

.textCategory {
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4px 10px 4px 10px;
  background-color: var(--opacity-neutral-darkest);
  border-radius: 6px;
  margin-bottom: 16px;
}

.storyImageWrapper {
  position: relative;
  width: 100%;
  height: 223px;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 32px;
}

.storyCardImage {
  object-fit: cover;
}

.mainText {
  color: var(--color-text-primary);
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 24px;
}

.saveStory {
  border-radius: var(--Radius-Large, 24px);
  background: var(--color-bg-tertiary);
  height: 217px;
  padding: 32px 20px;
}

.titleStory {
  color: var(--color-text-primary);
  font-family: var(--font-sora), sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 16px;
}

.textStory {
  color: var(--color-text-primary);
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.button {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8;
  padding: 6px 12px 6px 12px;
  border: 1px solid var(--color-primary);
  border-radius: var(--Radius-Small, 8px);
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0%;
  text-align: left;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.button:disabled {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  opacity: 0.3;
  color: var(--color-text-inverse);
}

@media only screen and (min-width: 768px) {
  .storyDetails {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .title {
    font-family: var(--font-sora), sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 32px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-bottom: 18px;
  }

  .wrapperButton {
    display: flex;
    flex-direction: column;
  }

  .text {
    margin-bottom: 0px;
  }

  .textCategory {
    margin-left: auto;
    margin-right: 0px;
  }

  .storyImageWrapper {
    height: 469px;
    max-width: 704px;
    margin: 0 auto 40px;
  }

  .mainText {
    font-family: var(--font-nunito-sans), sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 24px;
  }

  .saveStory {
    padding: 32px 32px;
    max-width: 418px;
  }
}

@media only screen and (min-width: 1440px) {
  .storyDetails {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .wrapper {
    margin-bottom: 21px;
  }

  .storyImageWrapper {
    height: 874px;
    max-width: 1312px;
    margin: 0 auto 96px;
  }

  .wrapperButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .mainText {
    max-width: 865px;
  }
}
