.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid var(--color-scroll-btn);
  color: var(--color-scroll-btn);
  cursor: pointer;
  z-index: 1000;
  font-size: 24px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.2s,
    background-color 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 4px 10px rgba(26, 42, 90, 0.3);
  position: fixed;
}

/* Дві галочки ↑↑ */
.button::before,
.button::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-left: 3px solid var(--color-scroll-btn);
  border-top: 3px solid var(--color-scroll-btn);
  transform: rotate(45deg);
}

/* Верхня галочка */
.button::before {
  top: -16px;
}

/* Нижня галочка */
.button::after {
  top: -25px;
}

.button:hover {
  transform: scale(1.1);
  background-color: rgba(26, 42, 90, 0.1);
  box-shadow: 0 6px 15px rgba(26, 42, 90, 0.4);
}
