.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #1a2a5a;
  color: #1a2a5a;
  cursor: pointer;
  z-index: 1000;
  font-size: 24px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.2s,
    background-color 0.2s,
    box-shadow 0.2s;
  /* Тінь навколо бордера */
  box-shadow: 0 4px 10px rgba(26, 42, 90, 0.3);
}

.button:hover {
  transform: scale(1.1);
  background-color: rgba(
    26,
    42,
    90,
    0.1
  ); /* легка прозора підсвітка при ховері */
  box-shadow: 0 6px 15px rgba(26, 42, 90, 0.4);
}
