.button {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8;
  padding: 6px 12px 6px 12px;
  border: 1px solid var(--color-primary);
  border-radius: var(--Radius-Small, 8px);
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0%;
  text-align: left;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-primary-hover-first);
  color: var(--color-text-primary);
  box-shadow: 0 4px 12px var(--box-shadow);
}

.button:active {
  color: var(--color-text-primary);
  background-color: var(--color-primary-active-first);
}

.button:disabled {
  transform: translateY(0);
  color: var(--color-text-inverse);
  background-color: var(--color-primary);
  opacity: 0.3;
}

@media only screen and (min-width: 768px) {
  .storyDetails {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .button {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8;
    padding: 6px 12px 6px 12px;

    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 0%;
    text-align: left;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border-color 0.3s ease;
  }
}
