/* CSS VARIABLES FOR THEME */
:root {
  /* Light theme (default) */
  --color-bg-primary: #f7f9ff; /* Основний фон (body, основні сторінки) */
  --color-bg-secondary: #ffffff; /* Додатковий фон (картки, модальні вікна) */
  --color-bg-tertiary: #f2f2f2; /* Третинний фон ("Збережіть собі історію") */
  --color-bg-quaternary: #e5e5e5; /* Кнопка "Вхід" в хедері на головній сторінці */
  --color-text-primary: #000000; /* Основний текст, , для disabled + opacity: 0.3; */
  --color-text-secondary: rgba(0, 0, 0, 0.6); /* Другорядний текст  - inputs*/
  --color-text-inverse: #ffffff; /* Інверсний текст (текст на темному фоні) */
  --color-text-inverse-bg: #ffffff; /* join + hero */
  --color-border: rgba(0, 0, 0, 0.15); /* Основна границя */
  --color-border-light: rgba(
    0,
    0,
    0,
    0.05
  ); /* Світла границя + кнопки на картках, для disabled + opacity: 0.3; */
  --color-link-active: #d8d8d8; /* Active стану для посилань */
  --color-error: #b00101; /* Помилки */
  --color-primary: #4169e1; /* Основний колір (синій), для disabled + opacity: 0.3;*/
  --opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);

  /* Light theme hero */
  --color-text-inverse-bg: #ffffff;
  --color-bg-hero: #0b1f3a;
  --color-primary: #4169e1; /* для disabled + opacity: 0.3;*/
  --color-text-inverse: #ffffff;
  --color-primary-hover-first: #e8eeff;
  --color-text-primary: #000000;
  --color-primary-active-first: #7a96ea;
  --color-border-active-first: #4169e1;
  --box-shadow: rgba(59, 130, 246, 0.08);

  /* Light theme about */
  --color-text-primary: #000000;

  /* Light theme popular */
  --color-text-primary: #000000;
  --color-bg-popular: #e8eeff;
  --color-bg-popular-light: rgba(0, 0, 0, 0.05);
  --color-border: rgba(0, 0, 0, 0.15);
  --color-primary-hover-second: #4169e1;
  --color-text-inverse: #ffffff;
  --color-primary-active-second: #1a2a5a;
  --color-bg-popular-dis: rgba(0, 0, 0, 0.05); /* opacity: 0.3;*/

  /* Light theme traveller item */
  --color-light-date: #555555;

  /* Light theme logo */
  --logo-bg-active: rgba(216, 216, 216, 0.2);

  /* Light theme modal */
  --color-bg-secondary: #ffffff;
  --color-border-tab: rgba(0, 0, 0, 0.15);

  /* Categories */
  --select-icon: rgba(0, 0, 0, 0.6);
  --category-bg: #f2f2f2;

  /* Story */
  --opacity-neutral-darkest: rgba(0, 0, 0, 0.05);
  --color-bg-tertiary: #f2f2f2;

  /* Profile */
  --border-tab: rgba(255, 255, 255, 0);
  --color-bg-tab: #e8eeff;
  --color-hover-tab: #4169e1;
  --color-bg-tab-active: #f7f9ff;
  --tab-active-border: rgba(0, 0, 0, 0.15);

  /* Toggle */
  --toggle-bg: #ffffff;
  --thumb: #a4b4e6;

  --color-toast: #4169e1;
  /* Scroll Up */
  --color-scroll-btn: #1a2a5a;
}

[data-theme='dark'] {
  /* Dark theme */
  --color-bg-primary: #000000; /* Основний фон (body, основні сторінки) */
  --color-bg-secondary: #1a1a1a; /* Додатковий фон (картки, модальні вікна) */
  --color-bg-tertiary: #2a2a2a; /* Третинний фон ("Збережіть собі історію") */
  --color-bg-quaternary: #e5e5e5; /* Кнопка "Вхід" в хедері на головній сторінці */
  --color-text-primary: #ffffff; /* Основний текст, для disabled + opacity: 0.3; */
  --color-text-secondary: #e0e0e0; /* Другорядний текст - inputs */
  --color-text-inverse: #000000; /* Інверсний текст (текст на світлому фоні) */

  --color-border: rgba(255, 255, 255, 0.1); /* Основна границя */
  --color-border-light: rgba(
    255,
    255,
    255,
    0.1
  ); /* Світла границя + кнопки на картках, для disabled + opacity: 0.3; */
  --color-link-active: #4c4c4c; /* Active стану для посилань */
  --color-error: #b00101;
  --color-primary: #ffffff; /* Основний колір (синій), для disabled + opacity: 0.3;*/
  --opacity-neutral-darkest-5: rgba(255, 255, 255, 0.05);

  /* Dark theme hero */
  --color-text-inverse-bg: #ffffff;
  --color-bg-hero: #0b1f3a;
  --color-primary: #ffffff; /* для disabled + opacity: 0.3;*/
  --color-text-inverse: #000000;
  --color-primary-hover-first: #7f7f7f;
  --color-text-primary: #ffffff;
  --color-primary-active-first: #4c4c4c;
  --color-border-active-first: #7f7f7f;
  --box-shadow: rgba(0, 0, 0, 0.15);

  /* Dark theme about */
  --color-text-primary: #ffffff;

  /* Dark theme popular */
  --color-text-primary: #ffffff;
  --color-bg-popular: #2c2c2c;
  --color-bg-popular-light: rgba(255, 255, 255, 0.1);
  --color-border: rgba(255, 255, 255, 0.1);
  --color-primary-hover-second: #e8eeff;
  --color-text-inverse: #000000;
  --color-primary-active-second: #7a96ea;
  --color-bg-popular-dis: rgba(0, 0, 0, 0.05); /* opacity: 0.3;*/

  /* Dark theme traveller item */
  --color-light-date: #939393;

  /* Dark theme modal */
  --color-bg-secondary: #1a1a1a;
  --color-border-tab: rgba(255, 255, 255, 0.1);

  /* Categories */
  --select-icon: #4c4c4c;
  --category-bg: #7f7f7f;

  /* Story */
  --opacity-neutral-darkest: #7f7f7f;
  --color-bg-tertiary: #7c8691;

  /* Profile */
  --border-tab: rgba(255, 255, 255, 0);
  --color-bg-tab: #b7caf9;
  --color-hover-tab: #ffffffcb;
  --color-bg-tab-active: #5e7acf;
  --tab-active-border: #5e7acf;

  /* Toggle */
  --toggle-bg: #1a1a1a;

  --color-toast: #4169e1;

  /* Scroll Up */
  --color-scroll-btn: #b7caf9;
}

/* RESET */

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p:last-child,
li:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASE */

body {
  font-family: var(--font-nunito-sans), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

h1,
h2,
h3 {
  font-family: var(--font-sora), sans-serif;
}

section {
  padding: 64px 0;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  section {
    padding: 72px 0;
  }

  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
