.mobileMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateX(100%);
  right: 0;
  z-index: 5;

  background-color: #fff;
  transition: transform 500ms ease;
}

.mobileMenu.open {
  transform: translateX(0%);
}

.mobileMenuContainer {
  /* width: 100vw; */
  height: 100vh;
  padding-top: 88px;
}

@media screen and (max-width: 767.98) {
  .mobileMenuContainer {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .mobileMenu {
    width: 415px;
  }
}
