.mobileMenuContainer {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
}

.mobileMenuContainer.open {
  pointer-events: all;
}

.mobileMenuWrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--color-bg-primary);
  transition: transform 500ms ease;
  transform: translateX(100%);
  z-index: 9;

  display: flex;
  justify-content: center;
  width: 100%;
}

.mobileMenuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  width: 100%;
  margin-bottom: 32px;
}

.mobileMenu.open {
  transform: translateX(0%);
}

.mobileMenuContent {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}

/* Адаптивна ширина фону */
@media screen and (min-width: 768px) {
  .mobileMenu {
    height: 454px;
    width: 50%; /* фон займає 50% ширини екрана */
    max-width: 600px; /* максимум для планшета */
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .mobileMenuContainer {
    display: none; /* ховаємо мобільне меню на десктопі */
  }
}
