.mobileMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateX(100%);
  right: 0;
  z-index: 3;
  /* z-index: 8; */

  background-color: #fff;
  transition: transform 500ms ease;
}

.mobileMenu.open {
  transform: translateX(0%);
}

.mobileMenuContainer {
  /* width: 100vw; */
  height: 100vh;
  padding-top: 88px;
}

@media screen and (max-width: 767.98) {
  .mobileMenuContainer {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .mobileMenu {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
    /* width: 415px; */
  }

  .mobileMenuContainer {
  }
}
