/* БАЗА */
.nav {
  min-width: 280px;
}

/* ====== HEADER NAVIGATION ====== */
.navHeader {
  display: none;
}

@media screen and (min-width: 1440px) {
  .navHeader {
    display: block;
  }
}

/* ====== FOOTER NAVIGATION ====== */
.navFooter {
  display: block; /* завжди видно */
  margin-bottom: 64px;
}

/* ====== MOBILE-MENU NAVIGATION ====== */
.mobileMenuNav {
  display: block;
  width: 100%;
  padding: 0 20px;
}

/* ====== LIST ====== */
.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

/* .navListFooter {
  margin-bottom: 64px;
} */

/* ====== ITEMS ====== */
.navItem {
  border: 1px solid transparent;
  border-radius: 8px;
  transition:
    border 250ms ease,
    background-color 250ms ease;
  text-align: center;
  width: 100%;
}

.navItemFooter {
  width: 335px;
}
.navItemMobileMenu {
  width: 335px;
}

/* ====== LINKS ====== */
.navLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  display: block;
  width: 100%;
  height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.navLinkHeaderMain {
  color: var(--color-text-inverse-bg);
}

/* ====== FOOTER ADAPTIVE ====== */
@media screen and (min-width: 768px) {
  .navFooter {
    justify-self: center; /* центрує елемент всередині grid */
  }
  .navListFooter {
    flex-direction: row;
    gap: 12px;
  }
  .navItemFooter {
    width: auto;
  }
  .navLinkFooter {
    padding: 4px 10px;
  }
}

/* ====== DESKTOP ADAPTIVE ====== */
@media screen and (min-width: 1440px) {
  .navList {
    flex-direction: row;
    gap: 12px;
  }

  .navItem {
    width: auto;
  }

  .navItem:active {
    background-color: var(--logo-bg-active);
  }

  .navItem:hover,
  .navItem:focus {
    border: 1px solid var(--color-text-primary);
  }

  .navItemHeaderMain:hover,
  .navItemHeaderMain:focus {
    border: 1px solid var(--color-text-inverse-bg);
  }

  .navLink {
    padding: 4px 10px;
    font-size: 18px;
  }
}
