.footer {
  /* position: relative; */
  padding: 56px 0 48px 0;
  background-color: var(--color-bg-popular);
}

.logoLinkFooter {
  margin-bottom: 42px;
  width: 156px;
}

/* Загальні стилі copyRight */
.copyRight {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

/* Лінія перед copyRight */
.copyRight::before {
  position: absolute;
  display: block;
  transform: translateX(-50%);
  left: 50%;
  bottom: 50px;
  width: 100%;
  min-width: 280px;
  max-width: 335px;
  height: 1px;
  background-color: var(--color-border);
  content: '';
}

/* ===== MOBILE ===== */
.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.footerContainer > :last-child {
  gap: 0;
}

/* ===== TABLET ===== */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footerContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'logo socials'
      'nav nav';
    row-gap: 24px;
  }

  .footerContainer > :nth-child(1) {
    grid-area: logo;
  }

  .footerContainer > :nth-child(2) {
    grid-area: socials;
  }

  .footerContainer > :nth-child(3) {
    grid-area: nav;
    display: flex;
    justify-content: center;
  }

  .copyRight::before {
    max-width: 704px;
  }
}

/* ===== DESKTOP ===== */
@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px 0;
  }
  .footerContainer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 48px;
    margin-bottom: 56px;
  }

  .footerContainer > :nth-child(1) {
    justify-self: start;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .footerContainer > :nth-child(2) {
    margin-bottom: 0;
    justify-self: center;
  }

  .footerContainer > :nth-child(3) {
    justify-self: end;
    display: block;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .copyRight {
    font-size: 16px;
    margin-top: 32px;
  }

  .copyRight::before {
    bottom: auto;
    top: -32px;
    width: 100%;
    max-width: 1312px;
  }
}
