.logoLink {
  display: flex;
  align-items: center;
  gap: 3px;

  padding: 6px 10px;
  width: 167px;

  border: 1px solid transparent;
  border-radius: 8px;

  background-color: transparent;

  position: absolute;
  top: -16px;
  left: 0;
  transform: translateX(0);

  transition:
    border 250ms ease,
    background-color 250ms ease,
    transform 500ms ease;
}

.logoLink:hover,
.logoLink:focus {
  border: 1px solid var(--color-text-primary);
}

.logoLink:active {
  background-color: rgba(216, 216, 216, 0.2);
}

/* Header-main-page */
.logoLinkHeaderMain {
  display: flex;
  align-items: center;
}

.logoLinkHeaderMain:hover,
.logoLinkHeaderMain:focus {
  border: 1px solid var(--color-text-inverse-bg);
}

/* Footer */
.logoLinkFooter {
  position: static;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

/* Mobile menu */
.logoLinkMobileMenuOpen {
  position: static;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* можна змінити на space-between, якщо буде кнопка в одному рядку */
}

/* Текст логотипу */
.logoText {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--color-text-primary);

  transition: color 250ms ease;
}

.logoTextHeaderMain {
  color: var(--color-text-inverse-bg);
}

/* Media queries */
@media screen and (min-width: 768px) {
  .logoLinkFooter {
    margin-bottom: 41px;
    grid-row: 1;
    grid-column: 1;
  }

  .logoLinkMobileMenuOpen {
    transform: translateX(380px);
  }
}

@media screen and (min-width: 1440px) {
  .logoLinkFooter {
    margin-bottom: 68px;
  }

  .logoLink:active {
    background-color: var(--logo-bg-active);
  }
}
