/* Components/MessageNoStories/MessageNoStories.module.css */

/* Mobile styles (base) - 320px+ */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  padding: 20px;
  width: 100%;
  max-width: 335px;
  background: var(--color-bg-popular);
  border-radius: 24px;
}

.title {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto 24px;
  font-family: var(--font-family-heading, 'Montserrat', sans-serif);
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  color: var(--color-text-primary);
}

.messageBox {
  max-width: 768px;
  width: 100%;
  padding: 24px 16px;
  border-radius: 16px;
  background: var(--color-scheme-2-foreground);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text {
  font-family: var(
    --second-family,
    'Sora',
    sans-serif var(--font-nunito-sans, 'Nunito Sans', sans-serif)
  );
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: var(--color-text-primary);
  text-align: start;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  max-width: 295px;
  height: 48px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  background: var(--color-primary);
  color: var(--color-text-inverse);
  font-family: var(--font-family, 'Nunito Sans', sans-serif);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--color-primary-hover-first);
  color: var(--color-text-primary);
  transform: translateY(-1px);
}

.button:active {
  background-color: var(--color-primary-active-first);
  color: var(--color-text-primary);
  transform: translateY(0);
}

.button:focus-visible {
  border: 1px solid var(--opacity-transparent);
  background: #4169e1;
}

/* Tablet and up - 768px+ */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 533px;
    padding: 40px 32px;
  }

  .button {
    max-width: 190px;
  }
}

/* Desktop and up - 1440px+ */
@media only screen and (min-width: 1440px) {
  .text {
    font-size: 26px;
  }
}
