.section {
  padding: 64px 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.intro {
  display: grid;
  gap: 24px;
  align-items: flex-start;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  align-self: flex-start;
  width: 100%;
}

.features {
  display: grid;
  gap: 32px;
  list-style: none;
}

.feature {
  display: grid;
  gap: 8px;
}

.iconWrapper {
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
}

.icon {
  width: 48px;
  height: 48px;
  fill: #000;
}

.featureTitle {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.featureDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

@media (min-width: 768px) {
  .container {
    gap: 64px;
  }

  .intro {
    grid-template-columns: minmax(0, 779px) minmax(0, 533px);
    column-gap: 24px;
  }

  .description {
    font-size: 18px;
    margin-top: 8px;
    line-height: 1.55;
  }

  .title {
    font-size: 44px;
  }

  .intro .description {
    max-width: 533px;
  }

  .features {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 28px;
    align-items: baseline;
  }

  .featureDescription {
    min-width: 213px;
  }
}

@media (min-width: 1440px) {
  .section {
    padding: 72px 0;
  }

  .description {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }

  .title {
    font-size: 52px;
  }

  .featureTitle {
    font-size: 32px;
  }

  .features {
    gap: 48px;
  }

  .feature {
    gap: 24px;
  }

  .featureDescription {
    min-width: 405px;
  }
}
